@font-face {
    font-family: 'BasisGrotesquePro';
    src: url('./fonts/BasisGrotesquePro-Regular.eot');
    src: url('./fonts/BasisGrotesquePro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/BasisGrotesquePro-Regular.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Regular.woff') format('woff'),
        url('fonts/BasisGrotesquePro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: 'BasisGrotesquePro';
    src: url('./fonts/BasisGrotesquePro-Bold.eot');
    src: url('./fonts/BasisGrotesquePro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/BasisGrotesquePro-Bold.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Bold.woff') format('woff'),
        url('fonts/BasisGrotesquePro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: fallback;
}

@font-face {
    font-family: 'BasisGrotesquePro';
    src: url('./fonts/BasisGrotesquePro-Light.eot');
    src: url('./fonts/BasisGrotesquePro-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/BasisGrotesquePro-Light.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Light.woff') format('woff'),
        url('fonts/BasisGrotesquePro-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: fallback;
}

@font-face {
    font-family: 'BasisGrotesquePro';
    src: url('./fonts/BasisGrotesquePro-Medium.eot');
    src: url('./fonts/BasisGrotesquePro-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/BasisGrotesquePro-Medium.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Medium.woff') format('woff'),
        url('fonts/BasisGrotesquePro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: fallback;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    text-transform: none;
    text-decoration: none;
    font-weight: normal;

}

body {
    font-family: 'BasisGrotesquePro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;

}

.illustration {
    width: 100%;

}

/* picture {
display: block;

} */

figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    height: 100%;

}

.contribution {

    display: grid;
    width: 100%;
    height: auto;
    grid-template-areas:
        "head school"
        "members partners";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;

}

.contribution_section__head {
    grid-area: head;
}

.school {
    grid-area: school;

}

.members {
    grid-area: members;
    flex-direction: row-reverse;
}

.partners {
    grid-area: partners;
    flex-direction: row-reverse;
}

.school,
.members,
.partners {
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}

.contribution_section__head {
    padding-top: 16.66%;
    padding-left: 29.16%;
    padding-right: 6.94%;
}

.contribution_section__head h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150% letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #0536FC;
    opacity: 0.9;
}

.contribution_section__head h1 {
    margin-top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 111%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.section_item__number {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    opacity: 0.7;
}

.contribution_section__item {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}



.item__text {
    width: 50%;
    padding-top: 50px;
    padding-left: 6.94%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* position: relative; */
}

.item__text:hover {
    /* position:absolute; */
    background-color: #0536FC;
    color: #FFFFFF;
}

.section_item__name {
padding-top: 30px;
}
.contribution_section_item__footer p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    opacity: 0.6;
    padding-bottom: 10px;
}


.missing {
    color: black;
    opacity: 0;
}

.item__picture {
    /* min-height: 445px; */
    width: 50%;
}

.contribution_section_item__footer {
    display: flex;
    justify-content: space-between;
    gap: 16px
}

.link {
    width: 100px;
    height: 100px;
    padding: 35px;
    justify-self: end;
    color: #0536FC;
    background-color: #FFFFFF;
}


#blocker {}